*.iml
.gradle
/local.properties
**/.idea
.DS_Store
/build
/captures
.externalNativeBuild
node_modules
.tmp
.sass-cache
**/bower_components or sometimes it is lib/**
platforms
plugins
*.swp
*.swo
*.log

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
/bower_components

www/js/all.js
